body{
    background-color: #1E1A1C;
    /*background-color: rgb(100, 185, 135);*/
    color: #a5a3a4;
    /*font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
    font-family: cursive;
}

h1,h2,h3{
    color: #F4F2F3;
}

a{
    text-decoration: none;
    color:inherit;
}

.center{
    margin:auto;
    width:65%;
}

.music{
    padding:0.5rem;
    color: #4f4f4f;
    background-color: #111111a3;
}

.proof{
    border-radius: 10px;
    background-color: #2c2729;
    margin: .3rem;
    padding: .4rem;
}

.selection{
    border-radius: 100px;
    background-color: #2c2729;
    margin: .3rem;
    padding: .2rem;
}

.back{
    border-radius: 10px;
    background-color: #2c2729;
    width: 10rem;
    margin: .3rem;
    padding: .2rem;
    text-align: center;
}